%div.comment_form
  = simple_form_for([@post, @post.comments.build]) do |f|
    %div.field
      = f.input :content, label: false, placeholder: "what's your opinion"
    %div.actions
      = f.button :submit, value: "Comment", label: "Create", class: "button button_highlight"
