%div.header-bar
  %div.header-logo
    Impage

  %div.header-item
    %ul
      - if user_signed_in?
        %li= link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure" }
      - else
        %li= link_to "Sign up", new_user_registration_path
        %li= link_to "Log in", new_user_session_path
