%div.header-bar
  %div.header-logo
    = link_to "Impage", root_path

  %div.header-item
    - if user_signed_in?
      = link_to "Log out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure" }
    - else
      = link_to "Sign up", new_user_registration_path
      = link_to "Log in", new_user_session_path
