$white: #ffffff;
$highlight: #d2476e;
$dark: #36495e;

html, body {
    box-sizing: border-box !important;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
}

.wrapper_wide {
    width: 90%;
    margin: 0 auto;
}

.wrapper_skinny {
    width: 50%;
    margin: 0 auto;
}

.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

header {
    padding: 8.5vh 0;
    height: 3vh;
    line-height: 3vh;
    background-color: $highlight;
    margin-bottom: 6rem;

    #logo {
        float: left;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        color: $white;
        text-decoration: none;
    }
    nav {
        float: right;
        ul {
            list-style: none;
            margin: 0;
            li {
                display: inline-block;
                margin-left: 2.5rem;
                padding-bottom: 0.2rem;
                a {
                    display: inline-block;
                    border-bottom: 0 $dark solid;
                    padding-bottom: 0.2rem;
                    color: $white;
                    text-decoration: none;
                    &:hover {
                        border-bottom: 1px $white solid;
                    }
                }
            }
        }
    }
}

.banner {
    height: 3rem;
    background-color: $dark;
    margin-bottom: 2.5rem;
}

footer {
    // padding-bottom: 1rem;
    // margin-top: 3rem;
    color: $dark;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1.5rem;
    height: 5rem;
}


form + footer {
    margin-top: 9rem;
}


.button {
    color: $white;
    text-decoration: none;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    outline: none;
    border: none;
    display: inline-block;
    min-width: 6rem;
}

.button_highlight {
    background: $highlight;
    transition: background .3s ease-in-out;
    &:hover {
        background: darken($highlight, 9%);
    }
}

.button_white {
    background: $white;
    color: $dark;
    transition: background .3s ease-in-out;
    &:hover {
        background: darken($white, 9%);
    }
}

.button_block {
    display: block;
    margin: 0 auto;
}



// @import './responsive_main.scss';
@import './welcome.css.scss';
@import './form.css.scss';
// @import './responsive_index.scss';
@import './normalize.css';
