@import './application.css.scss';

.card {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    border: 1px darken($white, 10%) solid;
    background-color: $white;

    text-align: center;

    .card_image {
        display: block;
        // width: 50%;
        // margin: 0 auto;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 3rem;
            transition: all .3s ease-in-out;
            // box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.30);
        }
    }

    .card_detail {
        color: lighten($dark, 5%);

        .description {
            margin-bottom: 1rem;
            span {
                display: inline-block;
                font-size: 1.3rem;
            }


            .title {
                a {
                    text-decoration: none;
                    color: lighten($highlight, 0%);
                    letter-spacing: .05rem;
                }
            }

            .desc {
                color: lighten($dark, 15%);
                letter-spacing: .05rem;
            }
        }

        a {
            text-decoration: none;
            color: $highlight;
        }

        .tag {
            color: $white;
        }


        .user {
            margin-bottom: 1rem;
            span {
                a {
		    display: inline-block;
                    text-decoration: none;
                    color: darken($dark, 5%);
                }
            }
        }

        span {
            margin-right: .5rem;
        }
    }
}

.large_card {
    .large_card_header {
        box-sizing: border-box;
        position: absolute;
        z-index: 999;
        width: 100%;
        height: 15vh;
        background-color: rgba(20, 20, 20, 0.39);
        color: darken($white, 20%);

        .large_card_title {
            box-sizing: border-box;
            display: inline-block;
            height: 15vh;
            line-height: 15vh;
            padding-right: 5vw;
            width: 30vw;
            padding-left: 5rem;
            span {
                display: inline-block;
            }

            .user {
                padding-left: .5rem;

                .name {
                    padding-left: .5rem;
                    a {
                        font-size: 1.2rem;
                        text-decoration: none;
                        color: darken($white, 10%);
                    }
                }
            }
        }

        .large_card_action {
            box-sizing: border-box;
            width: 69vw;
            text-align: right;
            padding-right: 5rem;
            display: inline-block;
            a, span {
                font-size: 1.29rem;
                text-decoration: none;
                color: darken($white, 20%);
                display: inline-block;

                &:hover {
                    color: $white;
                }
            }

            span + .size {
                margin-left: 0;
                padding-left: 0;
                font-size: .9rem;
            }

            span.fa-heart, span.fa-heart + .size {
                color: lighten($highlight, 5%);
            }

            span.fa-heart-o {
                &:hover {
                    color: $highlight;
                }
            }

            span {
                margin-left: .5rem;
                padding: .39rem .9rem;
                padding-right: 0;
            }
        }
    }

    .large_card_image {
        img {
            /* Set rules to fill background */
            min-height: 100%;
            min-width: 1024px;

            /* Set up proportionate scaling */
            width: 100%;
            height: auto;

            /* Set up positioning */
            position: fixed;
            top: 0;
            left: 0;
        }
    }
}

.tag {
    padding: .3rem 1rem !important;
    margin: 0 .3rem !important;
    min-width: 2rem !important;
    color: lighten($dark, 39%) !important;
    border: 1.5px lighten($dark, 39%) solid !important;
    font-size: .9rem !important;

    &:hover {
        border: 1.5px lighten($dark, 19%) solid;
        color: lighten($dark, 19%) !important;
    }
}

span.fa-tags {
    margin-left: 2rem;
    color: lighten($dark, 19%);
    font-size: 1rem;
}

span.fa-heart, span.fa-heart + .size {
    color: $highlight;
}

span.fa-heart-o {
    &:hover {
        color: $highlight;
    }
}
