form {
    width: 39%;
    margin: 0 auto;
    .field {
        margin: 1rem auto;

        .input {
            margin-bottom: 1.5rem;
        }

        label {
            display: block;
            margin: 0.5rem auto;
            color: $dark;
        }

        input[type="text"], input[type="email"], input[type="password"], textarea {
            box-sizing: border-box;
            width: 100%;
            padding: .5rem .5rem;
            outline: none;
            border: 1px solid lighten($dark, 50%);
            transition: all .3s ease-in-out;
            &:focus {
                box-shadow: 0 0 1rem lighten($dark, 50%);
            }
        }

        input[type="checkbox"] {
            display: inline-block;
        }

        input[type="checkbox"] + label {
            margin-left: .5rem;
            display: inline-block;
            color: lighten($dark, 30%);
        }

	.upload {
	    label {
		display: inline-block;
		margin-right: 1rem;
	    }
	    label + input {
		color: lighten($dark, 30%);
	    }
	}

	.hint {
	    display: inline-block;
            margin-top: .5rem;
            color: lighten($dark, 30%);
        }

    }
    .actions {
        text-align: center;
        margin: 5rem auto;
        p {
            margin-top: 2rem;
            color: $dark;

            a {
                display: inline-block;
                margin-left: .5rem;
                margin-bottom: .5rem;
                padding-bottom: .1rem;
                text-decoration: none;
                font-weight: 500;
                color: lighten($dark, 20%);
                border-bottom: 1.8px $white solid;

                &:hover {
                    border-bottom: 1px lighten($dark, 20%) solid;
                }
            }
        }
    }
}

.comment_form {
    .actions {
        margin: 2rem auto;
    }
}